@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


body{
font-family: 'Roboto', sans-serif;
}

.container{
  position: relative;
}

.title-css{
  font-weight: 900;
}

.imgProfile-css{
  width: 150px;
  height: 150px;
}

.containerImg-css{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.navAction-css{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}


.navHome-css{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.card-css{
  margin-top: 80px;
}

.cardHome-css{
  background-color: white;
}

.textBold{
    font-weight: 900;
}

/*-------------------- MEDIA QUERY -----------------------*/
@media screen and (min-width : 720px) {
.container-body{
  margin-top: 30px;
}
}

@media screen and (min-width : 1200px) {
.container-body{
  margin-top: 100px;
}
}
