@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* BODY */ 

body{
font-family: 'Roboto', sans-serif;
}

/* FONT */

.title-css{
  font-weight: 900;
  color: #050505;
}

.paragraph-css{
  font-weight: 900;
  color: #3B3B3B;
}

/* PROFILE */
.paragraphProfile-css{
  color: #3B3B3B;
}

.containerImg-css{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.containerProfile-css{
  background-color: #9A8174;
  border-radius: 10px;
}

.image-css{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

/* NAV ACTION */
.navAction-css{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #3B3B3B;
  -webkit-box-shadow: 0px -10px 30px 2px #9A8174;
  -moz-box-shadow: 0px -10px 30px 2px #9A8174;
  -o-box-shadow: 0px -10px 30px 2px #9A8174;
  box-shadow: 0px -10px 30px 2px #9A8174;
}

.navActionColor{
    background-color: #3B3B3B;
}

/* NAV HOME */

.buttonNavHome{
    background-color: #9A8174;
}

.dropdownHome{
  background-color: #3B3B3B;
}

.navHome-css{
  background-color: #9A8174;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 30px -1px #3B3B3B;
  -moz-box-shadow: 0px 10px 30px -1px #3B3B3B;
  -o-box-shadow: 0px 10px 30px -1px #3B3B3B;
  box-shadow: 0px 10px 30px -1px #3B3B3B;
}

/* LOGIN */

.containerLogin-css{
  background-color: #9A8174;
  border-radius: 10px;
}

/* HOME */

.card-css{
  margin-top: 100px;
}

.paragraphHome-css{
  color: #3B3B3B;
}

.cardHeader{
  background-color: #9A8174;
}

.cardBody{
  border-color: #9A8174;
}

.cardFooter{
  background-color: #9A8174;
  -webkit-box-shadow: 0px -5px 25px 1px #3B3B3B;
-moz-box-shadow: 0px -5px 25px 1px #3B3B3B;
-o-box-shadow: 0px -5px 25px 1px #3B3B3B;
box-shadow: 0px -5px 25px 1px #3B3B3B;
}

/* Personal Page */

.personalImg{
  width: 150px;
  height: 120px;
  border-radius: 100%;
}